<!doctype html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
    <body>
        <header>Esto es una pagina de prueba</header>
        <section>
            <h1 class="text-center">@ViewBag.Title</h1>
            @RenderBody()
        </section>
        <footer class="text-center">2021 - Esto es un footer compartido</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </body>
</html>
