@{
    ViewBag.Title = "Homepage del Barba";
}
<a asp-controller="App" asp-action="About">Acerca de nosotros</a>
<ul>
    <li><a asp-controller="App" asp-action="AddOrEdit">value1</a></li>
    <li>value2</li>
    <li>value3</li>
</ul>


